# 💻 Môi trường ảo (virtualenv)
env/
venv/
.yolo_env/
yolo_env/
*.egg-info/

# 🐍 Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 📁 Ảnh debug / xuất kết quả
snapshots/

# 🛠 VS Code settings
.vscode/

# 🔒 File key (nếu dùng Firebase)
firebase_key.json
